@charset "utf-8";
/* CSS Document */
*
{
	padding: 0;
	margin: 0;
}

h1
{
	padding-top:   100px;
	font-family: Palatino Linotype, serif;
}


.content-table 
{
  
  border-collapse:inherit;
  width: 50%;
  margin-left: 350px;
  
}



.content-table th
{
 background-color: white;
}

 .content-table td 
{
  padding: 15px;
  text-align: left;
  border: 1px solid #ccc;

}

.content-table img {
  max-width: 60%;
  max-height:60%;
  object-fit:fill;
  
}


.content-table p {
  margin: 10px 0;
}

.content-table b {
  font-weight: bold;
}

.checked {
  color: orange;
}

.check{
 color: #9932CC;
}
