@charset "utf-8";
/* CSS Document */

*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, san-serif;
	text-decoration: none;
	
}



header
{
	position: fixed;
	top:0; left: 0; right: 0;
	background: #ffffff;
	box-shadow: 0 5px 10px rgb(0,0,0,.1);
	padding: 0px 5%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1000;
	
}

header .logo
{
	font-weight: bolder;
	font-size: 25px;
	color: #333;
	text-decoration: none;
}

header .navbar ul
{
	list-style: none;
	margin-bottom: -10px;
}

header .navbar ul li
{
	position: relative;
	float: left;
	
	
}

header .navbar ul li a
{
	font-size: 20px;
	padding: 20px;
	color: #333;
	display: block;
	text-decoration: none;
	
}

header .navbar ul li a:hover
{
	
	background: #333;
	color: #fff;
	
}

header .navbar ul li ul
{
	position: absolute;
	text-align: left;
	width: 200px;
	background: #fff;
	display: none;
	left: 0;
}

header .navbar ul li ul li
{
	width: 100%;
	border-top: 1px solid rgba(0,0,0,.1);
	margin-left:  -15px;
}

header .navbar ul li:hover >ul
{
	display:initial;
	
}

#menu-bar
{
	display: none;
}

header label
{
	font-size: 20px;
	color: #333;
	cursor: pointer;
	display: none;
}

@media(max-width:991px)
{
	header
	{
		padding: 20px;
	}
	header label
	{
		display: initial;
	}
	header .navbar
	{
		position: absolute;
		top: 100%; left: 0; right: 0;
		background: #fff;
		border-top: 1px solid rgba(0,0,0,.1);
		display: none;
	}
	header .navbar ul li
	{
		width: 100%;
	}
	header .navbar ul li ul
	{
		position: relative;
		width: 100%;
	}
	header .navbar ul li ul li
	{
		background: #eee;
		
		
	}
	#menu-bar:checked ~ .navbar
	{
		display: initial;
	}
}
